## WCUS data cleaning steps
Get the data [here](https://ndclibrary.sec.usace.army.mil/resource?title=2023%20WCUS%20Trips%20-%20All%20Regions%20&documentId=07ddf14b-1522-4c6f-d894-40cd74d58a7f).

1. Filter to get only In/Out/Thru=="Outbound Shipping" or "Inbound Shipping"
2. Filter to get only TrafficCode==1 (aka TrafficName=="Domestic (Trips & Drafts)")
3. Keep only the columns:
    * 'RegionName', 'Up/Down', 'VesselType', 'VesselTypeName', 'VesselDraftFt', 'Trips', 'CompletedYear'
4. Create a few separate data sets: 
    * Filter to get only WaterwayCode==3924 (aka WaterwayName=="Duluth-Superior, MN and WI")
    * Filter to get only RegionName=="GREAT LAKES"
5. Save as something descriptive like "WCUS_Trips_DuluthSuperior_Outbound_Domestic_2014-2023.csv"

## List of Top Iron Ore Outports and Inports

In [2]:
import pandas as pd

In [13]:
# No Thunder Bay. That is in ON.
# Taconite and Silver Bay are not USACE ports
outports = pd.DataFrame({
    'WaterwayCode':[3924, 3926, 3928, 3619, 3844, 3929]
    })

In [14]:
# Note also:
# Cleveland-Cliffs Dearborn Works in Michigan
# Great Lakes Steel in Michigan
# These facilities ultimately receive taconite by rail, though

# Make sure to distinguish between receipts and throughports
    # E.g. Chicago is just a rail hub, other places go straight to mills nearby
# Calumet and Chicago included at end just because Calumet is high-tonnage and Chicago is famous
# Not much iron ore though
inports = pd.DataFrame({
    'WaterwayCode':[3738, 3736, 3739, 3204, 3217, 3315, 3220, 3219, 3741, 3747]
    })

## Cleaning

In [ ]:
path = "../data/raw/Trips_AllRegions_10yr_2014-2023.xlsx"

wcus = pd.read_excel(path, sheet_name="Trips_AllRegions_10yr_2014-2023")

In [6]:
# pd.set_option('display.max_rows', None)
wcus.loc[:, ['WaterwayCode', 'WaterwayName']].drop_duplicates()

        WaterwayCode                     WaterwayName
0                279                Absecon Inlet, NJ
9                505         Albany Port District, NY
1230             720                   Alexandria, VA
1257             715              Anacostia River, DC
1357             727                    Annapolis, MD
...              ...                              ...
551659          4804             Wrangell Narrows, AK
552149          4795                     Wrangell, AK
552443          5004                      Yakutat, AK
552644          4672       Yaquina Bay and Harbor, OR
552669          4608  Youngs Bay and Youngs River, OR

[1011 rows x 2 columns]

In [15]:
wcus.merge(outports, how='right')['WaterwayName'].unique()

array(['Duluth-Superior, MN and WI', 'Two Harbors, MN', 'Silver Bay, MN',
       'Presque Isle Township, MI', 'Marquette Harbor, MI',
       'Taconite, MN'], dtype=object)

In [ ]:
wcus.merge(inports, how='right')['WaterwayName'].unique()

array(['Indiana Harbor, IN', 'Gary, IN', 'Burns Waterway Harbor, IN',
       'Toledo-Lucas County Port, OH', 'Cleveland-Cuyahoga Port, OH',
       'Rouge River, MI', 'Conneaut Harbor, OH',
       'Ashtabula Port Authority, OH',
       'Calumet Harbor and River, IL and IN', 'Chicago Harbor, IL'],
      dtype=object)

In [ ]:
# TODO
# Now filter into chart-ready CSVs